<mat-sidenav-container class="shell"
  ><mat-sidenav class="sidebar" mode="side" opened
    ><div class="brand"><mat-icon>location_city</mat-icon>CivicTrack</div>
    <nav>
      <a mat-button routerLink="/dashboard" routerLinkActive="active"
        ><mat-icon>dashboard</mat-icon>Dashboard</a
      ><a mat-button routerLink="/issues" routerLinkActive="active"
        ><mat-icon>format_list_bulleted</mat-icon>All issues</a
      ><a mat-button routerLink="/issues/new" routerLinkActive="active"
        ><mat-icon>add_circle</mat-icon>Report issue</a
      >
    </nav></mat-sidenav
  ><mat-sidenav-content
    ><mat-toolbar
      ><span>Civic Issue Tracker</span><span class="spacer"></span
      ><a mat-flat-button routerLink="/issues/new"
        ><mat-icon>add</mat-icon>Report issue</a
      ></mat-toolbar
    >
    <main><router-outlet /></main></mat-sidenav-content
></mat-sidenav-container>
